In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('sample_file_nan.csv')
df.index += 1
df

     a  b     c
1  4.0  7  10.0
2  5.0  8  11.0
3  NaN  9   NaN

In [2]:
df

     a  b     c
1  4.0  7  10.0
2  5.0  8  11.0
3  NaN  9   NaN

In [3]:
values = [7, 11]

df[df.isin(values).any(1)]

     a  b     c
1  4.0  7  10.0
2  5.0  8  11.0

In [4]:
values = {'b': [7], 'c': [11]}

df[df.isin(values).any(1)]

     a  b     c
1  4.0  7  10.0
2  5.0  8  11.0