In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('sample_file.csv')
df = pd.concat([df, df.tail(2)]).sort_index()
df.index = range(len(df.index))
df.index += 1
#df.sort_values('a')

In [2]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  5  8  11
4  6  9  12
5  6  9  12

## Keep duplicates

Keep duplicates.

In [3]:
df[df.duplicated()]

   a  b   c
3  5  8  11
5  6  9  12

Keep all duplicates.

In [4]:
df[df.duplicated(keep=False)]

   a  b   c
2  5  8  11
3  5  8  11
4  6  9  12
5  6  9  12

## Remove Duplicates

In [5]:
df.drop_duplicates()

   a  b   c
1  4  7  10
2  5  8  11
4  6  9  12