In [ ]:
import pandas as pd

Specify values for each column.

In [1]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
    index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

Specify values for each row.

In [2]:
df = pd.DataFrame(
    [[4, 7, 10],
     [5, 8, 11],
     [6, 9, 12]],
    index=[1, 2, 3],
    columns=['a', 'b', 'c'])