In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [10]:
data = """
,,
,,
a,b,c
,,
4,7,10
5,8,11
6,9,12
"""

In [11]:
from io import StringIO

pd.read_csv(
    StringIO(data),
    skiprows=[4],
    header=2
)

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12