In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.DataFrame(
    {
        "foo": ["one", "one", "one", "two", "two", "two"],
        "bar": ["A", "B", "C", "A", "B", "C"],
        "baz": [1, 2, 3, 4, 5, 6],
        "qux": [6, 5, 4, 3, 2, 1],
        'quux': ['a', 'b', 'b', 'c', 'c', 'c']
    }
)

In [2]:
df

   foo bar  baz  qux quux
0  one   A    1    6    a
1  one   B    2    5    b
2  one   C    3    4    b
3  two   A    4    3    c
4  two   B    5    2    c
5  two   C    6    1    c

In [3]:
df.groupby('foo').groups

{'one': [0, 1, 2], 'two': [3, 4, 5]}

In [4]:
grouped = df.groupby('foo')
for name,group in grouped:
    print(name)
    print(group)

one
   foo bar  baz  qux quux
0  one   A    1    6    a
1  one   B    2    5    b
2  one   C    3    4    b
two
   foo bar  baz  qux quux
3  two   A    4    3    c
4  two   B    5    2    c
5  two   C    6    1    c

In [5]:
grouped.get_group('one')

   foo bar  baz  qux quux
0  one   A    1    6    a
1  one   B    2    5    b
2  one   C    3    4    b