In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('sample_file_with_index.csv', index_col='i')
df

   a  b   c
i
1  4  7  10
2  5  8  11
3  6  9  12

In [68]:
left = pd.DataFrame({'key': ['a', 'b', 'c'],
                     'value': [1, 2, 3]})
left

  key  value
0   a      1
1   b      2
2   c      3

In [69]:
right = pd.DataFrame({'key': ['a', 'b', 'd'],
                      'value': [1, 2, 4]})
right

  key  value
0   a      1
1   b      2
2   d      4

## INNER

In [70]:
left.merge(right, on=['key'])

  key  value_x  value_y
0   a        1        1
1   b        2        2

## LEFT JOIN

In [71]:
left.merge(right, on=['key'], how='left')

  key  value_x  value_y
0   a        1      1.0
1   b        2      2.0
2   c        3      NaN

In [72]:
left.join(right.set_index('key'), on=['key'], lsuffix='_x', rsuffix='_y')

  key  value_x  value_y
0   a        1      1.0
1   b        2      2.0
2   c        3      NaN

## RIGHT JOIN

In [73]:
left.merge(right, on=['key'], how='right')

  key  value_x  value_y
0   a      1.0        1
1   b      2.0        2
2   d      NaN        4

In [74]:
left.merge(right, on=['key'], how='left')

  key  value_x  value_y
0   a        1      1.0
1   b        2      2.0
2   c        3      NaN

## OUTER JOIN

In [77]:
left.merge(right, on='key', how='outer')

  key  value_x  value_y
0   a      1.0      1.0
1   b      2.0      2.0
2   c      3.0      NaN
3   d      NaN      4.0

In [76]:
pd.concat([left.set_index('key'), right.set_index('key')], axis=1)

     value  value
key
a      1.0    1.0
b      2.0    2.0
c      3.0    NaN
d      NaN    4.0