In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('sample_file_with_index.csv', index_col='i')
df

   a  b   c
i
1  4  7  10
2  5  8  11
3  6  9  12

In [2]:
left = pd.DataFrame({'key': ['a', 'b', 'c'],
                     'value': [1, 2, 3]})
left

  key  value
0   a      1
1   b      2
2   c      3

In [3]:
right = pd.DataFrame({'key': ['a', 'b', 'd'],
                      'value': [1, 2, 4]})
right

  key  value
0   a      1
1   b      2
2   d      4

In [4]:
left.merge(right, on='key', how='outer')

  key  value_x  value_y
0   a      1.0      1.0
1   b      2.0      2.0
2   c      3.0      NaN
3   d      NaN      4.0

In [5]:
pd.concat([left.set_index('key'), right.set_index('key')], axis=1) \
    .reset_index()

  key  value  value
0   a    1.0    1.0
1   b    2.0    2.0
2   c    3.0    NaN
3   d    NaN    4.0