In [4]:
import pandas as pd

Read csv.

In [5]:
pd.read_csv('sample_file_nan.csv')

     a  b     c
0  4.0  7  10.0
1  5.0  8  11.0
2  NaN  9   NaN

Read csv file and set index.

In [6]:
pd.read_csv('sample_file_with_index.csv', index_col=0)
pd.read_csv('sample_file_with_index.csv', index_col='i')

   a  b   c
i
1  4  7  10
2  5  8  11
3  6  9  12