In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('sample_file_nan.csv')

In [2]:
df

     a  b     c
0  4.0  7  10.0
1  5.0  8  11.0
2  NaN  9   NaN

## DataFrame

Rename index axis.

In [3]:
df.rename_axis("idx")

       a  b     c
idx
0    4.0  7  10.0
1    5.0  8  11.0
2    NaN  9   NaN

Rename columns axis.

In [4]:
df.rename_axis("cols", axis="columns")

cols    a  b     c
0     4.0  7  10.0
1     5.0  8  11.0
2     NaN  9   NaN

Rename index and columns axes.

In [5]:
df.rename_axis(index="idx", columns="cols")

cols    a  b     c
idx
0     4.0  7  10.0
1     5.0  8  11.0
2     NaN  9   NaN

## MultiIndex

In [6]:
# hide
df.index = pd.MultiIndex.from_arrays(
    [[0,1,2], ['a','b','c']],
)

Change the name of a `MultiIndex`.

In [7]:
df

       a  b     c
0 a  4.0  7  10.0
1 b  5.0  8  11.0
2 c  NaN  9   NaN

In [8]:
df.rename_axis(['idx1','idx2'])

             a  b     c
idx1 idx2
0    a     4.0  7  10.0
1    b     5.0  8  11.0
2    c     NaN  9   NaN