In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('sample_file_nan.csv')
df.iloc[1,1] = None
df.iloc[0,2] = None
df.iloc[2,2] = 12

In [18]:
df

     a    b     c
0  4.0  7.0   NaN
1  5.0  NaN  11.0
2  NaN  9.0  12.0