In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('melt_dates.csv')
df

  Country  1/3/2021  2/3/2021  3/3/2021
0     USA         4         7        10
1      SA         5         8        11
2      UK         6         9        12

In [3]:
df

  Country  1/3/2021  2/3/2021  3/3/2021
0     USA         4         7        10
1      SA         5         8        11
2      UK         6         9        12

In [4]:
df.melt(id_vars='Country')

  Country  variable  value
0     USA  1/3/2021      4
1      SA  1/3/2021      5
2      UK  1/3/2021      6
3     USA  2/3/2021      7
4      SA  2/3/2021      8
5      UK  2/3/2021      9
6     USA  3/3/2021     10
7      SA  3/3/2021     11
8      UK  3/3/2021     12