In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.DataFrame(
    {
        "foo": ["one", "one", "one", "two", "two", "two"],
        "bar": ["A", "B", "C", "A", "B", "C"],
        "baz": [1, 2, 3, 4, 5, 6],
        "qux": ["u", 'v', 'w', 'x', 'y', 'z'],
    }
)

In [2]:
df

   foo bar  baz qux
0  one   A    1   u
1  one   B    2   v
2  one   C    3   w
3  two   A    4   x
4  two   B    5   y
5  two   C    6   z

Summary statistics for the numerical columns (transposed for more readable output).

In [3]:
df.describe(include=[np.number]).T

     count  mean       std  min   25%  50%   75%  max
baz    6.0   3.5  1.870829  1.0  2.25  3.5  4.75  6.0

Summary stats for object and categorical columns (transposed for more readable output).

In [4]:
df.describe(include=[np.object, pd.Categorical]).T

    count unique  top freq
foo     6      2  one    3
bar     6      3    B    2
qux     6      6    v    1

Count of non null values.

In [5]:
df.count()

foo    6
bar    6
baz    6
qux    6
dtype: int64

Count number of rows with each unique value of variable.

In [6]:
df['bar'].value_counts()

B    2
A    2
C    2
Name: bar, dtype: int64

Number of distinct values in a column.

In [7]:
df['bar'].nunique()

3

The minimum value in each column.

In [8]:
df.min()

foo    one
bar      A
baz      1
qux      u
dtype: object