In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.DataFrame(
    {
        "foo": ["one", "one", "one", "two", "two", "two"],
        "bar": ["A", "B", "C", "A", "B", "C"],
        "baz": [1, 2, 3, 4, 5, 6],
        "qux": ["u", 'v', 'w', 'x', 'y', 'z'],
    }
)

In [43]:
df

   foo bar  baz qux
0  one   A    1   u
1  one   B    2   v
2  one   C    3   w
3  two   A    4   x
4  two   B    5   y
5  two   C    6   z

The dimensions of the dataset.

In [61]:
df.shape

(6, 4)

The number of rows in the DataFrame.

In [63]:
len(df)

6

The number of rows times number of columns.

In [65]:
df.size

24

Number of dimensions of the dataset.

In [86]:
df.ndim

2

Summary statistics for the numerical columns (transposed for more readable output).

In [46]:
df.describe(include=[np.number]).T

     count  mean       std  min   25%  50%   75%  max
baz    6.0   3.5  1.870829  1.0  2.25  3.5  4.75  6.0

Summary stats for object and categorical columns (transposed for more readable output).

In [48]:
df.describe(include=[np.object, pd.Categorical]).T

    count unique  top freq
foo     6      2  one    3
bar     6      3    C    2
qux     6      6    x    1

Count of non null values.

In [51]:
df.count()

foo    6
bar    6
baz    6
qux    6
dtype: int64

Count number of rows with each unique value of variable.

In [49]:
df['bar'].value_counts()

C    2
A    2
B    2
Name: bar, dtype: int64

Number of distinct values in a column.

In [87]:
df['bar'].nunique()

3

The minimum value in each column.

In [52]:
df.min()

foo    one
bar      A
baz      1
qux      u
dtype: object

List the index dtype and columns, non-null values and memory usage of the DataFrame.

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   foo     6 non-null      category
 1   bar     6 non-null      category
 2   baz     6 non-null      int8
 3   qux     6 non-null      object
dtypes: category(2), int8(1), object(1)
memory usage: 450.0+ bytes

Memory usage of each column.

In [66]:

df.memory_usage(deep=True)

Index    128
foo      360
bar      348
baz       48
qux      348
dtype: int64

In [73]:
df['foo'] = df['foo'].astype('category')
df['bar'] = df['bar'].astype('category')
df['baz'] = df['baz'].astype(np.int8)

In [74]:
df.memory_usage(deep=True)

Index    128
foo      360
bar      348
baz        6
qux      348
dtype: int64

In [85]:
df.memory_usage(deep=True)

Index    128
foo      234
bar      288
baz        6
qux      348
dtype: int64

In [77]:
df

   foo bar  baz qux
0  one   A    1   u
1  one   B    2   v
2  one   C    3   w
3  two   A    4   x
4  two   B    5   y
5  two   C    6   z

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   foo     6 non-null      category
 1   bar     6 non-null      object
 2   baz     6 non-null      int8
 3   qux     6 non-null      object
dtypes: category(1), int8(1), object(2)
memory usage: 360.0+ bytes