In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.DataFrame(
    {
        "foo": ["one", "one", "one", "two", "two", "two"],
        "bar": ["A", "B", "C", "A", "B", "C"],
        "baz": [1, 2, 3, 4, 5, 6],
        "qux": ["u", 'v', 'w', 'x', 'y', 'z'],
    }
)

In [2]:
df

   foo bar  baz qux
0  one   A    1   u
1  one   B    2   v
2  one   C    3   w
3  two   A    4   x
4  two   B    5   y
5  two   C    6   z

The dimensions of the dataset.

In [3]:
df.shape

(6, 4)

The number of rows in the DataFrame.

In [4]:
len(df)

6

The number of rows times number of columns.

In [5]:
df.size

24

Number of dimensions of the dataset.

In [6]:
df.ndim

2