In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# hide
df = pd.read_csv('./tidy-data/billboard.csv')
df

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# hide
cols = df.columns.tolist()
id_vars = [i for i in cols if not i.endswith('.week')]
id_vars

['year',
 'artist.inverted',
 'track',
 'time',
 'genre',
 'date.entered',
 'date.peaked']

In [4]:
# hide
# Reshape
df = df.melt(id_vars=id_vars, var_name='week', value_name='rank')
df = df.dropna()

# Formatting
df["week"] = df['week'].str.extract('(\d+)', expand=False).astype(int)
df["rank"] = df["rank"].astype(int)

df = df.sort_values(ascending=True, by=["year","artist.inverted","track","week","rank"])

df

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
246,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,1,87
563,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,2,82
880,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,3,72
1197,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,4,77
1514,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,5,87
...,...,...,...,...,...,...,...,...,...
10793,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,35,33
11110,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,36,37
11427,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,37,38
11744,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,38,38
12061,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,39,48

In [5]:
# hide 
df

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
246,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,1,87
563,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,2,82
880,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,3,72
1197,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,4,77
1514,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,5,87
...,...,...,...,...,...,...,...,...,...
10793,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,35,33
11110,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,36,37
11427,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,37,38
11744,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,38,38
12061,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,39,48

In [6]:
# hide 
df['date'] = pd.to_datetime(df['date.entered']) + pd.to_timedelta(df['week'], unit='w') - pd.DateOffset(weeks=1)
df

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,date
246,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,1,87,2000-02-26
563,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,2,82,2000-03-04
880,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,3,72,2000-03-11
1197,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,4,77,2000-03-18
1514,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,5,87,2000-03-25
...,...,...,...,...,...,...,...,...,...,...
10793,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,35,33,2000-12-23
11110,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,36,37,2000-12-30
11427,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,37,38,2001-01-06
11744,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,38,38,2001-01-13
12061,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,39,48,2001-01-20

In [7]:
# hide
df.columns = ['year', 'artist', 'track', 'time', 'genre', 'entered', 'peaked', 'week', 'rank', 'date']
df = df[["year", "artist", "track", "time", "genre", "week", "rank", "date"]]
billboard = df

In [8]:
billboard

,year,artist,track,time,genre,week,rank,date
246,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,1,87,2000-02-26
563,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2,82,2000-03-04
880,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,3,72,2000-03-11
1197,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,4,77,2000-03-18
1514,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,5,87,2000-03-25
...,...,...,...,...,...,...,...,...
10793,2000,matchbox twenty,Bent,4:12,Rock,35,33,2000-12-23
11110,2000,matchbox twenty,Bent,4:12,Rock,36,37,2000-12-30
11427,2000,matchbox twenty,Bent,4:12,Rock,37,38,2001-01-06
11744,2000,matchbox twenty,Bent,4:12,Rock,38,38,2001-01-13
12061,2000,matchbox twenty,Bent,4:12,Rock,39,48,2001-01-20

In [9]:
songs_cols = ["year", "artist", "track", "time", "genre"]
songs = billboard[songs_cols].drop_duplicates()
songs = songs.reset_index(drop=True)
songs["song_id"] = songs.index
songs

,year,artist,track,time,genre,song_id
0,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,0
1,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,1
2,2000,3 Doors Down,Kryptonite,3:53,Rock,2
3,2000,3 Doors Down,Loser,4:24,Rock,3
4,2000,504 Boyz,Wobble Wobble,3:35,Rap,4
...,...,...,...,...,...,...
312,2000,Yankee Grey,Another Nine Minutes,3:10,Country,312
313,2000,"Yearwood, Trisha",Real Live Woman,3:55,Country,313
314,2000,Ying Yang Twins,Whistle While You Twurk,4:19,Rap,314
315,2000,Zombie Nation,Kernkraft 400,3:30,Rock,315
316,2000,matchbox twenty,Bent,4:12,Rock,316

In [10]:
# merge song id to billboard records
ranks = pd.merge(billboard, songs, on=["year","artist", "track", "time", "genre"])
ranks

,year,artist,track,time,genre,week,rank,date,song_id
0,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,1,87,2000-02-26,0
1,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2,82,2000-03-04,0
2,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,3,72,2000-03-11,0
3,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,4,77,2000-03-18,0
4,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,5,87,2000-03-25,0
...,...,...,...,...,...,...,...,...,...
5302,2000,matchbox twenty,Bent,4:12,Rock,35,33,2000-12-23,316
5303,2000,matchbox twenty,Bent,4:12,Rock,36,37,2000-12-30,316
5304,2000,matchbox twenty,Bent,4:12,Rock,37,38,2001-01-06,316
5305,2000,matchbox twenty,Bent,4:12,Rock,38,38,2001-01-13,316
5306,2000,matchbox twenty,Bent,4:12,Rock,39,48,2001-01-20,316

In [11]:
ranks = ranks[["song_id", "date","rank"]]
ranks

      song_id       date  rank
0           0 2000-02-26    87
1           0 2000-03-04    82
2           0 2000-03-11    72
3           0 2000-03-18    77
4           0 2000-03-25    87
...       ...        ...   ...
5302      316 2000-12-23    33
5303      316 2000-12-30    37
5304      316 2001-01-06    38
5305      316 2001-01-13    38
5306      316 2001-01-20    48

[5307 rows x 3 columns]