In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('sample_file.csv')

In [2]:
df

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12

In [3]:
df.T

    0   1   2
a   4   5   6
b   7   8   9
c  10  11  12

In [4]:
df.transpose()

    0   1   2
a   4   5   6
b   7   8   9
c  10  11  12